################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project_code/.vs/project_code/v17/Browse.VC.opendb
/project_code/.vs/project_code/FileContentIndex/5b648bd3-4725-49cc-b752-12bfbc3ab860.vsidx
/project_code/.vs/project_code/FileContentIndex/232ccc8f-f79e-48b8-ab72-41907dd190a7.vsidx

.*
/project_code/Debug/*
/project_code/x64/*
/project_code/.vs/*
!/.gitignore
project_code/.vs/project_code/v17/.suo
project_code/.vs/project_code/v17/Browse.VC.db
project_code/.vs/project_code/v17/ipch/AutoPCH/2ee8249e5e8e6508/GRAPHICSOBJECT.ipch
project_code/.vs/project_code/v17/ipch/AutoPCH/f7253f16bd8cc6d3/MAIN.ipch
project_code/.vs/project_code/v17/ipch/AutoPCH/fbeeb07fee9e8549/SOLUTION.ipch
project_code/Debug/project_code.Build.CppClean.log
project_code/Debug/project_code.exe.recipe
project_code/Debug/project_code.log
