################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project_code/.vs/project_code/v17/Browse.VC.opendb
